* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  background-color: #e0e0e0;
  color: #121212;
  margin: 1rem;
}

#container #text-input {
  padding: auto;
  margin: auto;
  border: none;
  border-bottom: 2px solid black;
  width: 80%;
  background-color: transparent;
}

#container #check-btn {
  padding: 0.25rem;
  width: 40%;
  border-radius: 8px;
  border: none;
  margin: 1rem;
}

#container #check-btn:hover {
  border: 1px solid #121212;
}

#container p {
  margin: 1rem;
}

#container {
  border-radius: 8px;
}
