* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./roman-background.avif");
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem;
  width: 80vw;
}

#main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: black;
}

#main-box h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#main-box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#main-box #number {
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  width: 40%;
  min-width: 200px;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}

#main-box #number:focus {
  outline: 0;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  height: 10vh;
}

.hidden {
  display: none;
}
